@charset "UTF-8";
/* CSS Document */
/*============================
FIRST STYLE PASS - SIGN UP PAGE
============================*/

.bod{
        background: -webkit-linear-gradient(rgb(145,198,228), rgb(205,237,247)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgb(145,198,228), rgb(205,237,247)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgb(145,198,228), rgb(205,237,247)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgb(145,198,228) rgb(205,237,247)); /* Standard syntax */
}

.navbar-brand > img{position:relative; bottom: 10px;}
.navbar-header {float: none;}
.navbar-toggle {display: block; border-width: 0px; background-color: inherit!important; height:25px; float:right;}
.navbar-toggle:hover{background-color: inherit!important;}
.navbar-toggle > p{color:#FFF; float:left; position:relative; bottom:2px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav>li {float: none;}
.navbar-collapse.collapse.in{display:block !important;}
button:focus {outline:0;}
a:hover{text-decoration: none; color:#FFF;}

.left{float:left;}
.right{float: right;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}
.empty{height:125px;}

.form-control{width:90%; height: 70px; margin-left: auto; margin-right: auto; margin-bottom: 15px;}

.arrowdiv{display:block; width:100%;}

.center{
        display:block;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        width:60%;
}

#rightFloat{float:right; margin-left: 15px;}
#name{position:relative; top:15px; font-size: inherit; color:#FFF; float:right; margin-right: 30px;}
#make{font-size: 4.5em; color: #FFF;}
#matter{font-size: 5.5em; color: #FFF;}

.flat{
        border-radius: 0px;
        border-width: 0px;
}

.textbutton{
        font-size: 1.2em;
        width:80px;
        height:40px;
        margin-left: 10%;
        margin-bottom: 10px;
        float:left;
        background-color: rgba(0,0, 0, 0.0);
        color: #FFF;
        text-decoration: none;
        transition: all .1s ease-in-out;
}
.textbutton:hover {transform:scale(1.1)}

.forgot{width:90%; margin-left: auto; margin-right: auto;}
.hidden{display:hidden;}
.button{
        font-size: 1.2em;
        width:90%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        background-color: #000;
        color: rgb(205,237,247);
        font-size: 1.2em;
        transition: all .1s ease-in-out;
}
.button:hover{color: #FFF; font-size: 1.3em;}

#remember{float:right; width:150px; margin-right: 10%; color:#000;}
#remember:hover{transform: scale(1.0)}
