@charset "UTF-8";
/* CSS Document */
/*============================
SIGN UP PAGE
============================*/
.bod{
        background: -webkit-linear-gradient(rgb(145,198,228), rgb(205,237,247)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgb(145,198,228), rgb(205,237,247)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgb(145,198,228), rgb(205,237,247)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgb(145,198,228) rgb(205,237,247)); /* Standard syntax */
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color:#FFF;
    background-color: rgba(0,0,0,0.4);
}


.blue{background-color:rgb(145,198,228);}
.input-group{width:100%;}
.navbar-inverse{background-color: rgba(0,0,0,0); border-bottom-color: rgba(0,0,0,0);}
.nav{width:100%;}
.navbar-brand > img{position:relative; bottom: 10px;}
.navbar-header {float: none;}
.navbar-toggle {display: block; border-width: 0px; background-color: inherit!important; height:25px; float:right;}
.navbar-toggle:hover{background-color: inherit!important;}
.navbar-toggle > p{color:#FFF; float:left; position:relative; bottom:2px;}
.navbar-collapse.collapse {display: none!important;}
.navbar-nav>li {float: none;}
.navbar-collapse.collapse.in{display:block !important;}
button:focus {outline:0;}
a:hover{text-decoration: none; color:#FFF;}

.left{float:left;}
.right{float: right;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}
.open{font-family: 'Open Sans', sans-serif; font-weight: 600;}
.empty{height:125px;}
.one{font-size: 1.0em;}

.form-control{width:90%; height: 70px; margin-left: auto; margin-right: auto; margin-bottom: 15px;}

.arrowdiv{display:block; width:100%;}

.center{
        display:block;
        text-align: center;
        margin-left:auto;
        margin-right:auto;

}

#rightFloat{float:right; margin-left: 15px;}
#name{position:relative; top:15px; font-size: inherit; color:#FFF; float:right; margin-right: 30px;}
#make{font-size: 4.5em; color: #FFF;}
#matter{font-size: 5.5em; color: #FFF;}

.flat{
        border-radius: 0px;
        border-width: 0px;
}

.textbutton{
        font-size: 1.2em;
        width:80px;
        height:40px;
        margin-left: 10%;
        margin-bottom: 10px;
        float:left;
        background-color: rgba(0,0, 0, 0.0);
        color: #FFF;
        text-decoration: none;
        transition: all .1s ease-in-out;
}
.textbutton:hover {transform:scale(1.1);}

.forgot{width:90%; margin-left: auto; margin-right: auto;}
.hidden{display:hidden;}
.button{
        font-size: 1.2em;
        width:90%;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        background-color: #000;
        color: rgb(205,237,247);
        font-size: 1.2em;
        transition: all .1s ease-in-out;
}
.button:hover{color: #FFF; transform: scale(1.05);}

#remember{float:right; width:150px; margin-right: 10%; color:#000; margin-bottom: 0px;}
#remember:hover{transform: scale(1.05)}

@media screen and (max-width: 740px) {
  #remember {display: none;}
}

/*============================
SUBSCRIBE PAGE
============================*/

.subscribe{
    width:100%;
    min-height: 275px;
    background-color: rgb(155, 203, 237);
    margin-top: 25px;
    padding-top: 75px;
}

.subbott{
    width: 100%;
    min-height: 85px;
    background-color: #FFF;
    margin-top: 10px;
    padding-top: 15px;
}

.four{font-size: 2.8em; display: block; text-align: center;}
.eight{font-size:8em;}
.year{font-size: 1.5em;}
.twelve{font-size: 1.2em;}
.dos{font-size: 1.8em;}
.mon{font-size: 2.0em; position: relative; bottom: 55;}
.white{color:#FFF;}
.third{width:10%; margin-bottom: 0px; margin-top: 15px; border-color: #333;}
.martop{margin-top: 20px;}
.bigmartop{margin-top: 50px;}
.thin{font-weight: 300;}


/*============================
FEED PAGE
============================*/

.feedbox{
    height: 250px;
    background-color: #000;
    margin-top: 20px;
    transition: all .1s ease-in-out;
}
.feedbox:hover{opacity: 0.8; transform: scale(1.015);}

.title{
    position: relative;
    top:40%;
    display: none;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    transition: all .1s ease-in-out;
}
.feedbox:hover .title{display: inline-block;}

.hrt{
    width:5%;
    border-color: #000;
}
.none:hover{color: rgb(51,122,183);}
.nomarpad{margin: 0px; padding: 0px;}

@media screen and (max-width: 1000px) {
    .navbar-inverse{background-color: rgb(0,0,0); border-bottom-color: rgb(0,0,0);}
    .nopadl{padding-left: 0;}
}




.check{
    background-color: #FFF; 
    border-color: rgb(204,204,204); 
    border-width: 1px; 
    border-style: solid;
    overflow-y: auto;
    height:250px;
}
.marleft{margin-left: 5%;}
.nomarl{margin-left: 0;}
.nomarr{margin-right: 0;}
.nopadr{padding-right: 0;}
.nopadl{padding-left: 0;}
.nomarb{margin-bottom: 0;}

/*============================
messeges
============================*/
.gray{background-color: #AAA;}
.litegraybg{background-color: #dee7ed;}
.messegebox{padding:10px; max-height: 1000px;}
.messagedrop{font-family: 'Open Sans', sans-serif; font-weight: 600;}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus
    {background-color: rgb(87,129,170); color:#FFF;}
.btn-default:focus, .btn-default.focus{
    background-color: #FFF;
}
.ddmenu{background-color: rgb(87,129,170); color:#FFF;}
.dropdown-menu > li > a{color:#FFF;}
.dropdown-menu > li > a:hover{background-color: #ABC; color:#FFF;}
.half{width:75%;}
.penbut{background-color: rgb(87,129,170);}
.penbut:hover, .penbut:active:focus, .penbut:active {background-color: #ABC;}

.search{height:32px; width:100%; padding: 0; margin-left: 0; margin-right: 0; margin-left: 0;}
.message{width: 100%;background-color: #FFF;}
.middle{width:75%;}
.pro{ margin-left: 20px; margin-top:5px;}
.promar{margin: 0px; padding: 0px;;}
.ritepro{margin-top:5px;}
.dots{background-color: rgba(0,0,0,0);}
.dots:hover{background-color: rgba(0,0,0,0);}
.dots:focus, .dots.focus
    {background-color: rgba(0,0,0,0);}
.over{overflow: auto;}

.dots:active:hover, .dots.active:hover, .dots:active:focus, .dots.active:focus, .open > .dropdown-toggle.dots:focus, .dots:active.focus, .dots.active.focus, .open > .dropdown-toggle.dots.focus
{background-color: rgba(0,0,0,0);}
.dotsmenu{background-color: #FFF;}
.dotsmenu > li > a{color:#000;}
.dotsmenu > li > a:hover{background-color: #ABC; color:#000;}

.dropdown-menu.pull-left {
    left:-95;
  }

@media screen and (max-width: 991px) {
  .promar{margin: 20px; padding: 0px;;}
}

.marr{margin-right: 60px;}
.marl{margin-left: 60px;}

.recieved-message{
    padding:20; 
    background-color: rgb(87,129,170); 
    margin: 10; 
    -moz-border-image: url('../Img/recieved.svg') 0 0 0 15 ;
    border-image: url('../Img/recieved.svg') 0 0 0 15 ; 
    border-width:0 0 0 50px; background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;}

.sent-message{
    padding:20; 
    background-color: #104a7a; 
    margin: 10; 
    -moz-border-image: url('../Img/sent.svg') 15 0 0 0 ;
    border-image: url('../Img/sent.svg') 0 15 0 0; 
    border-width:0 50 0 0px; background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;}

textarea{resize: none; padding:5; overflow-y: scroll; max-height: 200px; width:90%; margin-left: 5%; }

.send{margin-right:5px; float:right; margin-top: 5px;}
.sendbut{margin-right:5%;}
textarea.form-control{height:250px;}
.vertcenter{padding-top: 100px;}
.hun{width:100%;}

/*============================
Last Push
============================*/

.marbot{margin-bottom: 25px;}
.save{width:50%; margin-left: auto; margin-right: auto;}
.para{padding: 20px;}
.picMar{margin-left: 25px; width:200px;}
.mediab{
    background-color: aqua;
    width:175px;
    height:150px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom: 25px;
}
.dropb{
    background-color: rgba(0,0,0,0);
    border-style: none;
}



